@charset "UTF-8";

:root {
    --main-color: #8360FC;
    --complementary-color: #FCED60;
    --secondary-color: #6070FC;
    --darker-color: #505DD2;
    --pinker-color: #B660FC;
}

body,
html {
    background-color: black;
}


#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */

    /* Some padding */
    border-radius: 50%;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
    width: 60px;
    height: 60px;
    background-color: #FEA225;
    color: black;
}

#myBtn:hover {
    background-color: var(--complementary-color);
    color: var(--main-color);
    /* Add a dark-grey background on hover */
}

.text-justify {
    text-align: justify;
  }

.josefin-sans-bolder {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.inter-tight-bolder {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 850;
    font-style: normal;
}

.quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.bebas-neue {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.inter-tight-light {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: light;
    font-style: normal;
}


.logo-font {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
}


.title-font {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
}

.text-bg-black {
    background-color: black;
    color: aliceblue;
}

.bg-black {
    background-color: black;
}

.bg-fadefrommain {
    background-image: linear-gradient(to bottom, var(--main-color) 80%, var(--secondary-color));
}

.bg-fadetomain {
    background-image: linear-gradient(to top, var(--main-color), var(--secondary-color));
}

.bg-darker {
    background-color: var(--darker-color);
}

.bg-main {
    background-color: var(--main-color);
}

.text-main {
    color: var(--main-color);
}

.text-sec {
    color: var(--secondary-color);
}

.bg-sec {
    background-color: var(--secondary-color);
}

.bg-complementary {
    background-color: var(--complementary-color);
}

.text-complementary {
    color: var(--complementary-color);
}

.text-pink {
    color: var(--pinker-color);
}

.bg-pink {
    color: var(--pinker-color);
}

.servimg {
    width: 150px;
    height: 150px;
}

#umbrella {
    display: none;
    transition: 0.2s;
}

#servcont{
    transition: 0.2s;
}

#servcont:hover{
    opacity: 75%;
}


header {
    height: 8vh;
}

/* main{
    height: 90vh;
} */

main .comprar {
    width: 310px;
    box-shadow: 15px 10px 0 var(--main-color);
}

.comprar:hover {
    transform: translate(10px, 0);
    box-shadow: -15px 10px 0 var(--main-color);

}



.comprar {
    border-radius: 10px;
    width: 140px;
    border: 0;
    transition: 0.3s;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}


#mainimg img {
    width: 100%;
    height: 100%;
    box-shadow: 20px 20px 0 var(--main-color);
    transition: 0.3s;
}


main .title-font {
    font-size: 2.4rem;
}

/* #mainrow {} */

/* 
#maintext p, #maintext h1{
} */

/* fontes */

.beneficios:not(:last-child) {
    margin-bottom: 10rem;
}



/* media-queries */

@media screen and (max-width: 992px) {
    #mainimg img {
        box-shadow: none;
    }

    #details img {
        width: 100%;
        height: 100%;
    }

    main .h1 {
        font-size: 2.5rem;
    }

  
    #serv1 {
        border-radius: 15px 15px 0 0;
    }

    #serv2 {
        border-radius: 0 0 15px 15px;
        min-height: 502px;
    }


    .carrossel{
        height: 402px;
    }


}

@media screen and (min-width: 992px) {

    #mainimg img:hover {
        box-shadow: -20px -20px 0 var(--complementary-color);
    }

    .services {
        height: 430px;
    }

    #serv1 {
        border-radius: 15px 0 0 15px;
    }

    #serv2 {
        border-radius: 0 15px 15px 0;
    }

    .carrossel{
        height: 340px;
    }


}