@charset "UTF-8";

:root {
    --main-color: #8360FC;
    --bg-color: #c4c4c4;
    --complementary-color: #FCED60;
    --secondary-color: #6070FC;
    --darker-color: #5A43B0;
}

.josefin-sans-bolder {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.inter-tight-bolder {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 850;
    font-style: normal;
}

.bebas-neue{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.inter-tight-light {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
}

.title-font {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
}

.text-bg-black {
    background-color: black;
    color: aliceblue;
}

.bg-black {
    background-color: black;
}

.bg-fadefrommain{
    background-image: linear-gradient(to bottom, var(--main-color), var(--secondary-color) );
}

.bg-darker{
    background-color: var(--darker-color);
}

.bg-main {
    background-color: var(--main-color);
}

.text-main {
    color: var(--main-color);
}

.bg-complementary {
    background-color: var(--complementary-color);
}

.text-complementary {
    color: var(--complementary-color);
}

.servimg{
    width: 150px;
    height: 150px;
}

header {
    height: 8vh;
}

main .comprar {
    width: 250px;

}

.comprar {
    border-radius: 10px;
    width: 140px;
    border: 0;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#mainimg img {
    width: 100%;
    height: 100%;
}

main .title-font {
    font-size: 2.4rem;
}

/* #mainrow {} */

/* 
#maintext p, #maintext h1{
} */

/* fontes */

.beneficios:not(:last-child) {
    margin-bottom: 10rem;
}


/* media-queries */

@media screen and (max-width: 992px) {
    #details img {
        width: 100%;
        height: 100%;
    }

    main .h1 {
        font-size: 2.5rem;
    }

}